<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}
{{!-- <!DOCTYPE html>
<html lang="en" class="has has-background-info-dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Child List</title>
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
</head>
<!-- Nav Bar -->
  <header>
    <div class="navbar is-white p-5 ">
      
      <div class="">
          <button class="button is-info" id="homeBtn">Home</button>
          <button class="button" id="childListBtn">Child List</button>
          <button class="button" id="addChildBtn">Add Child</button>
      </div>
        <div class="navbar-end">
          <button class="button is-danger is-outlined" id="signOutBtn">Sign Out</button>
        </div>
  </div>
</header>

    <!-- "Children List" label -->
   <div class="is-size-3 has-text-black pl-3">
    <label><b>Children List</b></label>

   </div>
    


    <!-- ELements for child name and dropdown with allergies -->
    <div class="has-text-black has-background-white p-3" id="allergiesList">
      <!-- This will be our template for the JavaScript to generate the profile information and page v -->
      <div>
        <!-- Drop down with names and allergies -->
      
      <details>
        <summary class="is-size-3"><b>Crites, Brandon</b></summary>
        <div>
          <img src="img/ProfilePic.png">
        </div>
        <!-- Allergies list -->
        <h2><b>Allergies:</b> 
        <li>Peanut Butter</li>
        <li>Pollen</li>
        <li>Latex</li>
      </h2>
      <div class="transformRight">
        <!-- Profile button -->
      <button class="button" id="profileBtn">Profile</button>
      <!-- Edit button -->
      <button id="editBtn" class="button is-info">Edit</button>
    </div>
      </details>
    </div>
    <!-- ^ It ends here -->
    </div>
  </body>

  

</html> --}}